.searchDrawer{
    
    height:85px;


  }

.header__search-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    box-sizing:border-box;
    padding:0px 10px;
}
  .header__search{
      
      width: clamp(200px, 475px, 100%);  
      display:flex;
      align-items: center;
      position:relative;
      outline:2px solid rgb(180, 180, 180);
      
  }

  .header__search input{
      flex:1;
      padding:10px;
      font-size:14px;
      outline:none;
      border:none;
      height:100%;
      
      
  }

  .header__search input::placeholder{
      color:gray;
  }

  .header__search-icon{
      font-size:18px;
        margin-right:10px
  }
.search__close-icon{
    font-size: 22px;
    margin-left:10px;


}
  .header__search:focus-within{
    outline:2px solid black;
  }


  /* burge rmenu */

  .burgerDrawer{
    width:clamp(230px, 400px, calc(100vw - 40px));
    position:absolute;
    background-color:white;
    left:0;
    top:84px;
    height:calc(100vh - 84px);
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    overflow-x:hidden;
    justify-content: space-between;
    z-index:123333333333333333333333;
    transition:0.3s;
  }

  .burgerDrawer__bg{
    top:84px;
    height:calc(100vh - 64px);
  } 
.burger__menu-items{
  position:relative;
  box-sizing:border-box;
  padding:56px 0;
}
.burger__menu-item__title{
  padding:11px 32px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  cursor:pointer;
  font-size:18px;
}

.burger__menu-item__title:hover{
  background-color:#F6F6F6;
}

.burgerMenu__footer{
  box-sizing:border-box;
  padding:30px 20px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap:25px;
  background-color:#F8F8F8;
}
.burgerMenu__login{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap:10px;
  font-size:14px;
}
.burgerMenu__login svg:hover{
  transform:scale(1.3);
  cursor:pointer;
}
.burgerMenu__logos{
  display:flex;
  gap:13px;
  font-size:14px;
}

.burgerMenu__logos svg:hover{
  transform:scale(1.3);
  cursor:pointer;
}
.burgerMenu__bg{
  background-color:red;
  position:fixed;
  height:100vh;
  width:100vw;
  top:0;
  left:0;
  z-index:1;
}
   @media (max-width: 750px) {
    .burgerDrawer{
        top:64px;
        height:calc(100vh - 64px);
    }
    .burgerDrawer__bg{
      top:84px;
      height:calc(100vh - 84px);
    } 
  }

  .costum{
    height:100vh
  }

  .hea{
    height:84px;
    background:transparent;
  }

  .bk{
background:red;
  }